
# Data Analysis Project

## Overview
This project demonstrates basic data analysis techniques using Python libraries such as pandas and numpy. 
It explores a small dataset, performs statistical computations, and showcases how to work with missing values.

---

## Objectives
1. Load and explore the data.
2. Perform basic statistical analysis.
3. Filter and manipulate data based on conditions.
4. Export processed data for further use.

---

### Step 1: Import Required Libraries

In [1]:
import numpy as np 
import pandas as pd

### Step 2: Create a Dataset

In [2]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45],
  "Pulse":[10,15, np.nan ]
}

### Step 3: Display the Dataset

In [9]:
data

   calories  duration  Pulse
0       420        50   10.0
1       380        40   15.0
2       390        45    NaN

### Step 4: Explore the Dataset

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  3 non-null      int64
 1   duration  3 non-null      int64
 2   Pulse     2 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 204.0 bytes

In [11]:
data.describe()

         calories  duration      Pulse
count    3.000000       3.0   2.000000
mean   396.666667      45.0  12.500000
std     20.816660       5.0   3.535534
min    380.000000      40.0  10.000000
25%    385.000000      42.5  11.250000
50%    390.000000      45.0  12.500000
75%    405.000000      47.5  13.750000
max    420.000000      50.0  15.000000

### Step 5: Filter Data Based on a Condition

In [16]:
calorie_greater_420

0    False
1     True
2     True
Name: calories, dtype: bool

In [18]:
calorie_greater_420

   calories  duration  Pulse
1       380        40   15.0
2       390        45    NaN

### Step 6: Perform Statistical Analysis

In [19]:
print("the mean duration is",data["duration"].mean())
print("the median duration is",data["duration"].median())
print("the std duration is",data["duration"].std())
print("the min duration is",data["duration"].min())
print("the max duration is",data["duration"].max())

the mean duration is 45.0
the median duration is 45.0
the std duration is 5.0
the min duration is 40
the max duration is 50

### Step 7: Export Data to CSV

In [ ]:
data.to_csv("my_data.csv", index=False)


---
## Conclusion

This notebook demonstrates foundational techniques in data manipulation and analysis. 
The steps outlined can serve as a template for more complex data projects.

---