In [1]:
import numpy as np 
import pandas as pd

In [2]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45],
  "Pulse":[10,15, np.nan ]
}

In [3]:
data

{'calories': [420, 380, 390], 'duration': [50, 40, 45], 'Pulse': [10, 15, nan]}

In [4]:
type(data)

dict

In [5]:
data.keys()

dict_keys(['calories', 'duration', 'Pulse'])

In [6]:
data.values()

dict_values([[420, 380, 390], [50, 40, 45], [10, 15, nan]])

In [7]:
data

{'calories': [420, 380, 390], 'duration': [50, 40, 45], 'Pulse': [10, 15, nan]}

In [8]:
data = pd.DataFrame(data)

In [9]:
data

   calories  duration  Pulse
0       420        50   10.0
1       380        40   15.0
2       390        45    NaN

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  3 non-null      int64
 1   duration  3 non-null      int64
 2   Pulse     2 non-null      float64
dtypes: float64(1), int64(2)
memory usage: 204.0 bytes

In [11]:
data.describe()

         calories  duration      Pulse
count    3.000000       3.0   2.000000
mean   396.666667      45.0  12.500000
std     20.816660       5.0   3.535534
min    380.000000      40.0  10.000000
25%    385.000000      42.5  11.250000
50%    390.000000      45.0  12.500000
75%    405.000000      47.5  13.750000
max    420.000000      50.0  15.000000

In [12]:
data.head(2)

   calories  duration  Pulse
0       420        50   10.0
1       380        40   15.0

In [13]:
data["calories"]

0    420
1    380
2    390
Name: calories, dtype: int64

In [14]:
data.tail(1)

   calories  duration  Pulse
2       390        45    NaN

In [15]:
calorie_greater_420 = data["calories"]<420

In [16]:
calorie_greater_420

0    False
1     True
2     True
Name: calories, dtype: bool

In [17]:
calorie_greater_420 = data[data["calories"]<420]

In [18]:
calorie_greater_420

   calories  duration  Pulse
1       380        40   15.0
2       390        45    NaN

In [19]:
print("the mean duration is",data["duration"].mean())
print("the median duration is",data["duration"].median())
print("the std duration is",data["duration"].std())
print("the min duration is",data["duration"].min())
print("the max duration is",data["duration"].max())

the mean duration is 45.0
the median duration is 45.0
the std duration is 5.0
the min duration is 40
the max duration is 50

In [ ]:
data.to_csv("my_data.csv", index=False)